@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Font
$main-font: 'Montserrat', sans-serif;
$title-size: 2.5em;

// Colours
$brand-red: #7B1B2C;
$brand-navy: #242634;
$brand-grey: #E8E8EA;
$brand-dk-grey: #CDCDCD;
