/* ----------------------------------------------
				   Main index
---------------------------------------------- */

@import "./branding.scss";

/* ----------------------------------------------
				  Main Container
---------------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    font-family: $main-font;
    font-weight: 500;
    height: 100%;
    width: 100%;
}


/* --- Sidebar ------------------------------- */

#sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 65%;
    left: -90px;
}

#sidebar-links {
    font-size: 1em;
    transform: rotate(-90deg);
    letter-spacing: 1px;
}

.red-bar {
    display: inline-block;
    position: relative;
    top: -3px;
    background-color: $brand-red;
    width: 3em;
    height: 0.13em;
}


/* --- Nav ------------------------------------ */

.header {
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 1;
}


/* --- Hero ------------------------------- */


a {
    text-decoration: none;
    padding: 0 0.5em;
    font-weight: 500;
    color: black;
}

a:hover {
    color: $brand-red;
}

.bg-grey {
    width: 50vw;
    height: 550px;
    background-color: $brand-grey;
    float: right;
}

.bg-img {
    width: 40vw;
    height: 370px;
    position: relative;
    top: 20vh;
    left: -20vw;
    opacity: 0;
}

.bg-arrow {
    position: relative;
    float: right;
    height: 90px;
    right: 13vw;
    top: 80vh;
}

.intro {
    position: relative;
    top: 3em;
    left: 7em;
}

.name {
    font-size: 2.7em;
    padding: 3.5em 3em;
}

.blurb {
    max-width: 30rem;
    text-align: center;
    font-size: 1.1em;
}


/* --- Content ------------------------ */

.content-divider {
    padding: 5em 5em;
}

.content {
    width: 90vw;
    padding: 2em 0;
}

.content-title {
    padding-bottom: 1em;
}

.content.about-me {
    height: 300px;
    background-color: $brand-grey;
}

.content-ramble {
    text-align: center;
    width: 60vw;
}

.content.projects {
    padding: 5em 0;
}

.content-testimonials {
    height: auto;
    width: 80vw;
}

.shitty-drawing {
    width: 180px;
    position: relative;
    top: 15vh;
    left: 15vw;
}

.content.contact {
    padding: 5em 0;
}

/* --- Testimonials ------------------------ */

#testimonial-text {
    text-align: center;
    height: 100px;
    width: 60vw;
}

#testimonial-person {
    text-align: center;
    font-weight: 600;
    width: 60vw;
}

.test-arrow-left {
    transform: rotate(90deg);
}

.test-arrow-right {
    transform: rotate(-90deg);
}

.quotes {
    width: 90vw;
    position: relative;
    top: 13vh;
    left: 2em;
}

button {
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 3em;
}

/* --- Testimonials ------------------------ */

@media (max-width: 700px) {
    button, .bg-img, .bg-img, .shitty-drawing, #sidebar, .header { display: none }
    .content-divider { padding: 7em 7em;}
    .content { width: 100vw; }
    .bg-arrow { top: 63vh; }
    .quotes {
        width: 97vw;
        position: relative;
        top: 10vh;
        left: -0.2em;
    }

    .name {
        position: relative;
        padding: 2em 1em;
        left: 0.1em;
    }
    .content-ramble, .blurb, #testimonial-text { font-size: 0.9em; width: 80vw; }
    #testimonial-person { font-size: 0.7em; }
}