/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */

@import "./branding.scss";

$break-sm: 320px;
$break-md-sm: 600px;
$break-md-lg: 850px;
$break-lg: 1100px;

/* -------------------------------------------
				Main Container 
------------------------------------------- */
body {
    font-family: $main-font;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
}

@mixin container {
    width: 50vw;
    height: 100vh;
    padding-top: 11em;
}

@mixin title-line {
    height: 5px;
    width: 525px;
}

.code_container {
    float: left;
    background-color: $brand-navy;
    @include container;
}

.code-basics { float: right; }
.art-basics { float: left; }

.code-title, .art-title {
    font-size: 2.5em;
}

.code-title {
    color: $brand-off-white;
    align-self: flex-start;
}

/*       Code-Side Specifics      */
.code-line {
    background-color: $brand-off-white;
    z-index: 1;
    @include title-line;
}

.code-description-container {
    width: 41vw;
    padding: 2.5em 0;
    float: right;
}

.code-description {
    color: $brand-off-white;
    font-size: 1.15em;
}

/*       Art-Side Specifics      */
.art_container {
    float: right;
    background-color: $brand-off-white;
    @include container;
}

.art-title {
    color: $brand-navy;
    align-self: flex-end;
}

.art-line {
    background-color: $brand-navy;
    float: left;
    @include title-line;
}

.art-description-container {
    width: 41vw;
    padding: 2.5em 0;
    float: left;
}

.art-description {
    color: $brand-navy;
    font-size: 1.15em;
    text-align: right;
    float: right;
}

.art-description.art-right {
    position: absolute;
    right: 0;
}

/*       Ampersand Image      */
.ampersand {
    position: absolute;
}

.img-ampersand {
    max-height: 626px;
    width: 100%;
}

/*       Media Queries        */
@media (max-width: $break-lg) {
    .code-basics, .art-basics { width: 350px; }
    .code-line, .art-line { width: 350px; }
}

@media (max-width: $break-md-lg) {
    .code-basics, .art-basics { width: 250px;}
    .code-line, .art-line { width: 250px; }
    .code-title, .code-description { z-index: 1; }
}

@media (max-width: $break-md-sm) {
    .code-basics, .art-basics { width: 150px;}
    .code-line, .art-line { width: 150px; }
    .code-title, .code-description, .art-description { z-index: 1; }
	.art-description, .code-description { font-size: 1em; }
	.art-description-container, .code-description-container {
		padding: 2em 0;
	}
    .img-ampersand { max-height: 300px; }
}

@media (max-width: $break-sm) {
    .img-ampersand { max-height: 200px; }
}
