@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.bg-img {
  -moz-animation: FADEIN 1s linear 1s forwards;
  -webkit-animation: FADEIN 1s linear 1s forwards;
  animation: FADEIN 1s linear 1s forwards; }

.intro {
  -webkit-animation: fadeup 1.7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeup 1.7s;
  /* Firefox < 16 */
  -ms-animation: fadeup 1.7s;
  /* Internet Explorer */
  -o-animation: fadeup 1.7s;
  /* Opera < 12.1 */
  animation: fadeup 1.7s; }

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 800; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-moz-keyframes DASH {
  0% {
    stroke-dashoffset: 800; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-webkit-keyframes BLINK {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0; } }

@-moz-keyframes BLINK {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 0; } }

@-webkit-keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes FADEIN {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 60px); } }

@-moz-keyframes fadeup {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 60px); } }

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translate(0px, 60px); } }
