@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*      Fadeup Animation (Long)   */
@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px); } }

@-moz-keyframes fadeup {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 40px); } }

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translate(0px, 40px); } }

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 800;
    stroke-width: 3px; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-moz-keyframes DASH {
  0% {
    stroke-dashoffset: 800;
    stroke-width: 3px; }
  70% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }
