/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 300px;
	max-width: 1500px;
}

/* -------------------------------------------
				Nav and Hero
------------------------------------------- */
body {
	color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
	padding: 2em 0;
	font-size: 1.3em;
}

header a {
	letter-spacing: 1px;
	padding: 0 0.5em;
	text-decoration: none;
	color: #462540;
	font-weight: 300;
}

header a:hover {
	text-decoration: underline;
	cursor: pointer;
}

header span {
	letter-spacing: 1px;
	color: #462540;
	font-weight: 600;
}

.hero-container {
	align-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 6.4em;
	font-weight: 200;
	color: #462540;
	margin-top: -3.2em;
}

.plzwork {
	padding: 10em 0 10em 0;
	font-size: 1.15em;
	margin: 0 auto; /* centers the div */
	width: 450px;
}

.about-me {
	text-align: center;
}

p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.15em;
	font-weight: 200;
	color: #462540;;
}

img {
	width: 80vw;
	height: 70vh;
}

.work-container {
	margin: 0 15em 0 15em;
	width: auto;
}

/* -------------------------------------------
				Drawing & Painting
------------------------------------------- */

.drawing-container,
.painting-container {
	padding: 5em 0 5em 0;
}

.lcohen-image,
.sparrow-image {
	width: 350px;
	height: auto;
	padding-left: 2em;
}

.old-painting-image {
	height: 170px;
	width: auto;
	padding: 0 2em;
}

.desc-container {
	color: #462540;
	align-items: flex-start;
	padding: 2em 2em;
}

@media (max-width: 700px) {
	.plzwork {
		width: auto;
	}
}