/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 300px;
	max-width: 1500px;
}

/* -------------------------------------------
				Nav and Hero
------------------------------------------- */
body {
	color: #462540;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
	padding: 2em 0;
	font-size: 1.3em;
}

header a {
	letter-spacing: 1px;
	padding: 0 0.5em;
	text-decoration: none;
	color: #462540;
	font-weight: 300;
}

header a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hero-container {
	align-items: center;
	position: relative;
	margin: 0 auto;
	height: 400px;
	width: auto;
	margin-top: 4em;
	text-align: center;
}

.name {
	align-self: center;
	font-size: 6.4em;
	font-weight: 200;
	
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plzwork {
	font-size: 1.15em;
	margin: 0 auto; /* centers the div */
	width: 450px;
	text-align: center;
}

p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.15em;
	font-weight: 200;
	color: #462540;;
}

.work-container {
	margin: 10em 5em;
	width: auto;
}

/* -------------------------------------------
				Drawing & Painting
------------------------------------------- */

.drawing-container,
.painting-container {
	padding: 0 0 5em 0;
}

.lcohen-image,
.sparrow-image {
	width: 350px;
	height: auto;
	padding-left: 2em;
}

.old-painting-image {
	height: 170px;
	width: auto;
	padding: 0 2em;
}

.desc-container {
	color: #462540;
	align-items: flex-start;
	padding: 2em 2em;
}

@media (max-width: 700px) {
	.plzwork { width: auto; }
	.name { font-size: 5em; }
	.hero-container { overflow: hidden;}
}