/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */


@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 300px;
	max-width: 1500px;
	animation: fadeup 1.5s;
	-webkit-animation: fadeup 1.5s;
	-moz-animation: fadeup 1.5s;
}

/* -------------------------------------------
				Nav and Hero
------------------------------------------- */
body {
	color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding: 2em 0;
	font-size: 1.3em;
}

header a {
	letter-spacing: 1px;
	padding: 0 0.5em;
	text-decoration: none;
	color:#000;
	font-weight: 300;
}

header a:hover {
	text-decoration: line-through;
	cursor: pointer;
}

header span {
	letter-spacing: 1px;
	color: #000;
	font-weight: 600;
}

.hero-container {
	align-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 6.4em;
	font-weight: 200;
	color: #000;
	margin-top: -3.2em;
}

.blurb {
	padding-top: 8em;
	width: 600px;
	text-align: center;
}

p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	color: #000;
}

img {
	width: 80vw;
	height: 70vh;
}

.work-container {
	margin: 0 15em 0 15em;
}

/* -------------------------------------------
				Drawing & Painting
------------------------------------------- */

.drawing-container {
	padding: 18em 0 5em 0;
}

.lcohen-image,
.sparrow-image {
	width: 350px;
	height: auto;
}

.desc-container {
	color: #000;
	padding: 2em;
}
