/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */




/* -------------------------------------------
				Flexbox Basics
------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

._space-between {
	justify-content: space-between;
}

._direction-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

._direction-row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

._justify-center {
	justify-content: center;
}

.flexbox-row {
	display: flex;
	height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 300px;
	max-width: 1000px;
	animation: fadeup 1.5s;
	-webkit-animation: fadeup 1.5s;
	-moz-animation: fadeup 1.5s;
}

/* -------------------------------------------
				Main Container 
------------------------------------------- */
body {
	height: 100%;
	width: 100%;
	font-family: 'Playfair Display', serif;
}

#grad {
	background: #462540;  /* if blend doesn't work */
	background: -moz-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eye.png') repeat;
	background: -webkit-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eye.png') repeat;
	background: -o-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eye.png') repeat;
	background: -ms-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eye.png') repeat;
	background: linear-gradient(to bottom, #462540 30%, #85092A 100%), url('/imgs/eye.png') repeat;
	background-blend-mode: multiply;
}

p {
	color: #faf5e7;
}

mark {
	color: #EBC36D;
	background-color: transparent;
}

/* -------------------------------------------
			Header and Nav Bar 
------------------------------------------- */
header {
	font-family: 'Raleway', 300;
	padding: 2em 0;
	font-size: 1.2em;
	color: #FFF;
}

header a {
	letter-spacing: 1px;
	padding: 0 0.5em;
	text-decoration: none;
	font-weight: 300;
	color: #FFF;
}

/* added hover effects from footer here */
header a:hover {
	text-decoration: line-through;
	cursor: pointer;
	color: #EBC36D;
}

header span {
	letter-spacing: 1px;
	color: #FFF;
	font-weight: 600;
}

h1 {
	padding: 4.5em 0 3em 0;
	max-width: 600px;
	line-height: 1.5;
	font-size: 2.3em;
	font-weight: 600;
	color: #faf5e7;
}

#hidden_link {
	text-decoration: none;
	color: #faf5e7;
	cursor: help;
}

/* -------------------------------------------
		Figure Container & Info section 
------------------------------------------- */
.question-container {
	margin-top: 2em;
	padding-top: 100px;
	flex-wrap: wrap;
	width: 400px;
	position: relative;
	text-align: center;
}

.first-section {
	text-align: center;
	word-spacing: .2em;	
	margin: 6em 4em 0;
}

.question-container .who-is,
.question-container .kaitlin,
.question-container .erb {
	font-family: 'Raleway';
	color: #EBC36D;
	font-size: 4em;
	transform: rotate(10deg);
	opacity: 0.3;
	filter: blur(5px);
	position: absolute;
}

.question-container .who-is {
	top: -40px;
}

.question-container .kaitlin {
	top: 40px;
	left: 200px;
}

.question-container .erb {
	top: 100px;
}

/* -------------------------------------------
	   About Container & Work Container 
------------------------------------------- */
.personal-info {
	line-height: 1.5em;
}

.work-container {
	padding-top: 100px;
	margin: 0;
	list-style: none;
	justify-content: space-around;
}

h2 {
	padding: 40px 0px 20px 0px;
	justify-content: right;
	font-family: 'Raleway';
	color: #faf5e7;
    font-size: 20px;
    font-weight: 500;
}

.work-container p {
    padding: 15px 0 150px 0;
	line-height: 1.8;
	text-align: justify; 
	text-justify: auto;
	width: auto;
}

#quotation-marks {
	width: 100vw;
	opacity: 0.3;
	filter: blur(3px);
	margin-bottom: -6em;
}

.claims {
	width: 600px;
	height: 300px;
	margin: auto;
	padding: 3em 0;
	text-align: center;
}

#testimonial-text {
	line-height: 1.2em;
	padding: 10px 0;
	text-align: center;
}

#testimonial-person {
	padding: 2em 0 2em 0;
	text-align: center;
	color: #EBC36D;
}

.button { 
	color: #FFF;
	border: 1px solid #FFF;
	background-color: transparent;
	font-family: 'Raleway';
	text-decoration: none;
	border-radius: 0.5em;
	padding: 0.8em;
}

.button:hover{
	border: 1px solid #EBC36D;
	background-color: transparent;
	box-shadow: 2px 1px #EBC36D;
}

/* -------------------------------------------
	   Footer & Map & Contact Things
------------------------------------------- */
.footer {
	padding-top: 13em;
	position: block;
	clear: both;
	justify-content: space-between;
}

#map {
	margin-bottom: -20em;
	width: 40em;
	height: 40em;
	border-top-left-radius: 40em;
	border-top-right-radius: 40em;

	opacity: 0.9;
	border-style: solid;
	border-color: #faf5e7;
	border-width: medium;

	overflow: hidden;
}

.jodie-foster-others,
.jodie-foster-me {
	padding-bottom: 2em;
}

.jodie-foster-others a {
	float: right;
}

.jodie-foster-others p {
	text-align: right;
}

.jodie-foster-me a,
.jodie-foster-others a {
	letter-spacing: 1px;
	text-decoration: none;
	color:#faf5e7;
	font-weight: 300;
}

.jodie-foster-me a:hover,
.jodie-foster-others a:hover {
	text-decoration: line-through;
	cursor: pointer;
	color: #EBC36D;
}

/* -------------------------------------------
	--------------------------------------
				Media Queries
	--------------------------------------			   
------------------------------------------- */
@media (max-width: 700px) {
	.claims {
		width: 450px;
	}
}
@media (max-width: 500px) {
	h1 { font-size: 1.6em;
		padding-bottom: 70px;}
	h2 { padding: 1em 0 1.1em 0;}
	header { font-size: 1.1em;}
	.work-container h2 { padding-top: 1px; }
	
	.personal-info {
		line-height: 1.7em;
		text-align: justify;
		text-justify: kashida;
	}

	.first-section {
		position: relative;
		text-align: center;
		margin: 4em 2em 0;
	}

	.question-container {
		width: 300px;
	}

	.question-container .who-is,
	.question-container .kaitlin,
	.question-container .erb {
		font-size: 2.4em;
		width: 200px;
	}

	.question-container .who-is {
		top: -0.1em;
		left: -1em;
	}
	
	.question-container .kaitlin {
		top: 1.4em;
		left: -0em;
	}
	
	.question-container .erb {
		top: 3em;
		left: -2em;
	}

	#quotation-marks {
		opacity: 0.4;
		filter: blur(2px);
		margin-bottom: -2.4em;
	}

	.claims {
		width: 300px;
	}

	#map {
		display: none;
	}

	
}