/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* -------------------------------------------
				Flexbox Basics
------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

._space-between {
	justify-content: space-between;
}

._space-around {
	justify-content: space-around;
}

._direction-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

._direction-row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

._justify-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* -------------------------------------------
				Main Container 
------------------------------------------- */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

.main {
	overflow: hidden;
}

.main_container {
    position: relative;
}

.code-side-container {
    float: left;
    width: 50vw;
    height: 100vh;
    background-color: #242634;
}

.code-basics, .art-basics {
    width: 525px;
    padding-top: 10em;
    z-index: 1;
}

.code-basics { float: right; }
.art-basics { float: left; }

.code-title, .art-title {
    font-size: 2.5em;
}

.code-title {
    color: #E8E8EA;
    align-self: flex-start;
}

.code-line, .art-line {
    height: 4px;
    width: 525px;
}


/*       Code-Side Specifics      */
.code-line {
    background-color: #E8E8EA;
    z-index: 1;
}

.code-description-container {
    width: 41vw;
    padding: 2.5em 0;
    float: right;
}

.code-description {
    color: #E8E8EA;
    font-size: 1.15em;
}

.click-to-code {
    position: relative;
    padding-top: 18em;
}

.img-light-arrow {
    position: absolute;
    left: 58px;
    bottom: 38px;
    width: 100px;
}


/*       Art-Side Specifics      */
.art-side-container {
    float: right;
    width: 50vw;
    height: 100vh;
    background-color: #E8E8EA;
}

.art-title {
    color: #242634;
    align-self: flex-end;
}

.art-line {
    background-color: #242634;
    float: left;
}

.art-description-container {
    width: 41vw;
    padding: 2.5em 0;
    float: left;
}

.art-description {
    color: #242634;
    font-size: 1.15em;
    text-align: right;
    float: right;
}

.art-description.art-right {
    position: absolute;
    right: 0;
}

.click-to-art {
    position: relative;
    padding-top: 18em;
}

.img-dark-arrow {
    position: absolute;
    right: 48px;
    bottom: -5px;
    width: 103px;
}

/*       Ampersand Image      */
.ampersand {
    position: absolute;
}

.img-ampersand {
    max-height: 580px;
    max-width: auto;
    animation: fadein 1.5s;
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
}

a {
    text-decoration: none;
}

a:hover {
    animation: grow 1.5s;
	-webkit-animation: grow 1.5s;
	-moz-animation: grow 1.5s;
}

/*       Media Queries     */
@media (max-width: 1100px) {
    .code-basics, .art-basics { width: 350px; }
    .code-line, .art-line { width: 350px; }
}

@media (max-width: 850px) {
    .code-basics, .art-basics { width: 250px; padding-top: 12.5em;}
    .code-line, .art-line { width: 250px; }
    .img-ampersand { max-height: 450px; }
    .img-dark-arrow, .img-light-arrow {width: 50px;}
}

@media (max-width: 600px) {
    .code-basics, .art-basics { width: 150px; padding-top: 15em;}
    .code-line, .art-line { width: 150px; }
    .code-title, .code-description, .img-light-arrow { z-index: 1; }
	.art-description, .code-description { font-size: 1em; }
	
	.art-description-container, .code-description-container {
		padding: 2em 0;
	}

	.click-to-code, .click-to-art {
		padding-top: 8em;
	}

    .img-ampersand { max-height: 300px; }
}