/* -------------------------------------------
	--------------------------------------
				Main index
	--------------------------------------			   
------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

/* -------------------------------------------
				Flexbox Basics
------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

._space-between {
	justify-content: space-between;
}

._space-around {
	justify-content: space-around;
}

._direction-column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

._direction-row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

._justify-center {
	justify-content: center;
}

/* -------------------------------------------
				Main Container 
------------------------------------------- */
body {
	height: 100%;
	width: 100%;
}

a {
    text-decoration: none;
}

strong {
	margin: 2em;
}

.dev-website {
    float: left;
    width: 50vw;
	height: 100vh;

	background: #462540;  /* if blend doesn't work */
	background: -moz-linear-gradient(top, #462540 30%, #722F40 100%), url('/imgs/eyeSMALLER.png') repeat;
	background: -webkit-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eyeSMALLER.png') repeat;
	background: -o-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eyeSMALLER.png') repeat;
	background: -ms-linear-gradient(top, #462540 30%, #85092A 100%), url('/imgs/eyeSMALLER.png') repeat;
	background: linear-gradient(to bottom, #462540 30%, #85092A 100%), url('/imgs/eyeSMALLER.png') repeat;
	background-blend-mode: multiply;
}

.art-website {
    float: right;
    width: 50vw;
	height: 100vh;
	background: #FFF;
}

.code-title, .art-title {
	font-size: 4em;
	align-items: baseline;
	align-self: center;
}

.code-title, .code-para {
    font-family: 'Raleway', sans-serif;
	color: #FFF;
	align-items: baseline;
}

.art-title, .art-para {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #462540;
}

.art-para {
	font-size: 1.13em;
}

.art-para, .code-para {
	padding: 0 1em;
	align-self: center;
}

@media (max-width: 500px) {
	.code-title { font-size: 3em; }
	.art-title { font-size: 3.05em; }
	.art-para, .code-para { visibility: hidden; }
}